Repository fptgang/SBA301_Freelancer, pull requests merged in 2025-01, with the labels that each got.

#4 SBA-2 init OpenAPI spec
  backend/build.gradle
  backend/src/main/java/com/fptgang/backend/config/OpenAPIConfig.java
  backend/src/main/java/com/fptgang/backend/controller/AccountController.java
  frontend/.gitignore
  frontend/openapitools.json
  frontend/package.json
  frontend/src/pages/login/index.tsx
  openapi/main.yml
  openapi/model/account.yml
  openapi/model/file.yml
  openapi/model/generic-api-response.yml
  openapi/model/job-category.yml
  openapi/model/job.yml
  openapi/model/message-attachment.yml
  openapi/model/message.yml
  openapi/model/milestone.yml
  openapi/model/project-file.yml
  openapi/model/proposal-attachment.yml
  openapi/model/proposal.yml
  openapi/model/refresh-token.yml
  openapi/model/transaction.yml
Labels: Feature

#5 SBA-5 add landing page and provide some basic route
  .DS_Store
  backend/src/main/java/com/fptgang/backend/service/impl/AuthServiceImpl.java
  frontend/package-lock.json
  frontend/package.json
  frontend/public/icon.svg
  frontend/src/App.tsx
  frontend/src/authProvider.ts
  frontend/src/pages/about/About.tsx
  frontend/src/pages/landing/components/hero.tsx
  frontend/src/pages/landing/components/trusted-by.tsx
  frontend/src/pages/landing/landing-page.tsx
  frontend/src/pages/landing/nav-bar.tsx
  frontend/src/pages/login/index.tsx
  frontend/src/providers/access-control-provider.tsx
  frontend/src/providers/data-provider.tsx
  frontend/src/service/auth-service.ts
  frontend/src/utils/constants.ts
Labels: Frontend

#6 SBA-5 beautify the landing page
  frontend/src/pages/landing/components/hero.tsx
  frontend/src/pages/landing/nav-bar.tsx
Labels: Frontend

#9 SBA-36 fix entity models
  backend/src/main/java/com/fptgang/backend/model/Account.java
  backend/src/main/java/com/fptgang/backend/model/File.java
  backend/src/main/java/com/fptgang/backend/model/Message.java
  backend/src/main/java/com/fptgang/backend/model/Milestone.java
  backend/src/main/java/com/fptgang/backend/model/Project.java
  backend/src/main/java/com/fptgang/backend/model/ProjectCategory.java
  backend/src/main/java/com/fptgang/backend/model/Proposal.java
  backend/src/main/java/com/fptgang/backend/model/ProposalMilestone.java
  backend/src/main/java/com/fptgang/backend/model/Transaction.java
Labels: Backend

#10 SBA-3 Update base structure for BE
  backend/build.gradle
  backend/src/main/java/com/fptgang/backend/config/OpenAPIConfig.java
  backend/src/main/java/com/fptgang/backend/controller/AccountController.java
  backend/src/main/java/com/fptgang/backend/controller/AuthController.java
  backend/src/main/java/com/fptgang/backend/exception/ErrorResponse.java
  backend/src/main/java/com/fptgang/backend/exception/RestExceptionHandler.java
  backend/src/main/java/com/fptgang/backend/mapper/AccountMapper.java
  backend/src/main/java/com/fptgang/backend/model/Account.java
  backend/src/main/java/com/fptgang/backend/model/File.java
  backend/src/main/java/com/fptgang/backend/model/Message.java
  backend/src/main/java/com/fptgang/backend/model/Milestone.java
  backend/src/main/java/com/fptgang/backend/model/Project.java
  backend/src/main/java/com/fptgang/backend/model/ProjectCategory.java
  backend/src/main/java/com/fptgang/backend/model/Proposal.java
  backend/src/main/java/com/fptgang/backend/model/RefreshToken.java
  backend/src/main/java/com/fptgang/backend/model/Role.java
  backend/src/main/java/com/fptgang/backend/model/Transaction.java
  backend/src/main/java/com/fptgang/backend/repository/AccountRepos.java
  backend/src/main/java/com/fptgang/backend/security/AppUser.java
  backend/src/main/java/com/fptgang/backend/security/SecurityConfig.java
  backend/src/main/java/com/fptgang/backend/service/AccountService.java
  backend/src/main/java/com/fptgang/backend/service/impl/AccountServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/AuthServiceImpl.java
  backend/src/main/java/com/fptgang/backend/util/OpenApiHelper.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/fptgang/backend/integration/AccountIntegrationTest.java
  backend/src/test/java/com/fptgang/backend/util/OpenApiHelperTest.java
  openapi/component/error.yml
  openapi/component/page.yml
  openapi/main.yml
  openapi/model/account.yml
  openapi/model/file.yml
  openapi/model/generic-api-response.yml
  openapi/model/message-attachment.yml
  openapi/model/message.yml
  openapi/model/milestone.yml
  openapi/model/project-category.yml
  openapi/model/project-file.yml
  openapi/model/project.yml
  openapi/model/proposal-attachment.yml
  openapi/model/proposal.yml
  openapi/model/refresh-token.yml
  openapi/model/transaction.yml
  openapi/param/filter.yml
  openapi/param/pageable.yml
  openapi/path/account-accountId.yml
  openapi/path/account.yml
  openapi/path/auth/login.yml
Labels: Backend

#11 SBA-37 Fix OpenAPI spec missing DTOs reference
  backend/build.gradle
  backend/src/main/java/com/fptgang/backend/controller/AccountController.java
  backend/src/main/java/com/fptgang/backend/exception/RestExceptionHandler.java
  backend/src/main/java/com/fptgang/backend/mapper/AccountMapper.java
  backend/src/test/java/com/fptgang/backend/integration/AccountIntegrationTest.java
  openapi/main.yml
Labels: Backend

#12 Update README.md
  README.md
Labels: Feature

#13 [SBA-35] Create Mapper Package
  backend/src/main/java/com/fptgang/backend/controller/AccountController.java
  backend/src/main/java/com/fptgang/backend/mapper/AccountMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/BaseMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/FileMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/MessageMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/MilestoneMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProjectCategoryMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProjectMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProposalMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/RefreshTokenMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/TransactionMapper.java
  backend/src/main/java/com/fptgang/backend/repository/AccountRepos.java
  backend/src/main/java/com/fptgang/backend/repository/FileRepos.java
  backend/src/main/java/com/fptgang/backend/repository/MessageRepos.java
  backend/src/main/java/com/fptgang/backend/repository/MilestoneRepos.java
  backend/src/main/java/com/fptgang/backend/repository/ProjectCategoryRepos.java
  backend/src/main/java/com/fptgang/backend/repository/ProjectRepos.java
  backend/src/main/java/com/fptgang/backend/repository/ProposalRepos.java
  backend/src/main/java/com/fptgang/backend/repository/TransactionRepos.java
  backend/src/main/resources/application.properties
Labels: Backend

#15 SBA-42 Develop Milestone service & repo
  backend/src/main/java/com/fptgang/backend/repository/MilestoneRepos.java
  backend/src/main/java/com/fptgang/backend/service/MilestoneService.java
  backend/src/main/java/com/fptgang/backend/service/impl/MilestoneServiceImpl.java
Labels: Backend

#17 Frontend/vi_SBA-38
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/authProvider.ts
  frontend/src/components/common/button/profile-dropdown-button.tsx
  frontend/src/components/common/footer/footer.tsx
  frontend/src/components/header/client-index.tsx
  frontend/src/components/layout/index.tsx
  frontend/src/data/types/auth.ts
  frontend/src/index.css
  frontend/src/pages/landing/landing-page.tsx
  frontend/src/pages/landing/nav-bar.tsx
  frontend/src/pages/profile/index.ts
  frontend/src/pages/profile/profile.tsx
  frontend/src/providers/data-provider.tsx
Labels: Frontend

#20 SBA-44 Develop ProjectCategory Service & Repo
  backend/src/main/java/com/fptgang/backend/repository/ProjectCategoryRepos.java
  backend/src/main/java/com/fptgang/backend/service/ProjectCategoryService.java
  backend/src/main/java/com/fptgang/backend/service/impl/ProjectCategoryServiceImpl.java
Labels: Backend

#21 SBA-39 Develop Account service & repo
  backend/src/main/java/com/fptgang/backend/service/AccountService.java
  backend/src/main/java/com/fptgang/backend/service/impl/AccountServiceImpl.java
Labels: Backend

#23 SBA-46 Develop Transaction service & repo
  backend/src/main/java/com/fptgang/backend/repository/TransactionRepos.java
  backend/src/main/java/com/fptgang/backend/service/TransactionService.java
  backend/src/main/java/com/fptgang/backend/service/impl/TransactionServiceImpl.java
Labels: Backend

#14 SBA-45 Develop Proposal service & repo
  backend/src/main/java/com/fptgang/backend/repository/ProposalRepos.java
  backend/src/main/java/com/fptgang/backend/service/ProposalService.java
  backend/src/main/java/com/fptgang/backend/service/impl/ProposalServiceImpl.java
Labels: Backend

#24 SBA-49 Fix OpenAPI datetime error on BE
  backend/src/main/java/com/fptgang/backend/BackendApplication.java
  backend/src/main/java/com/fptgang/backend/mapper/AccountMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/FileMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/MessageMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/MilestoneMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProjectCategoryMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProjectMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProposalMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/RefreshTokenMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/TransactionMapper.java
  backend/src/main/java/com/fptgang/backend/util/DateTimeUtil.java
  backend/src/test/java/com/fptgang/backend/TestcontainersConfiguration.java
  backend/src/test/java/com/fptgang/backend/integration/AccountIntegrationTest.java
  backend/src/test/java/com/fptgang/backend/mapper/AccountMapperTest.java
  backend/src/test/java/com/fptgang/backend/util/DateTimeUtilTest.java
  openapi/model/transaction.yml
Labels: Backend

#19 SBA-41 Develop Message Service Repo
  backend/src/main/java/com/fptgang/backend/repository/MessageRepos.java
  backend/src/main/java/com/fptgang/backend/service/MessageService.java
  backend/src/main/java/com/fptgang/backend/service/impl/MessageServiceImpl.java
Labels: Backend

#18 SBA-43 feat add project service and repos
  backend/src/main/java/com/fptgang/backend/controller/ProjectController.java
  backend/src/main/java/com/fptgang/backend/mapper/AccountMapper.java
  backend/src/main/java/com/fptgang/backend/repository/ProjectRepos.java
  backend/src/main/java/com/fptgang/backend/service/ProjectService.java
  backend/src/main/java/com/fptgang/backend/service/impl/ProjectServiceImpl.java
  backend/src/test/java/com/fptgang/backend/service/ProjectServiceTest.java
  openapi/main.yml
  openapi/path/project-projectId.yml
  openapi/path/project.yml
Labels: Backend

#25 SBA-50 Develop Account Service Test
  backend/src/main/java/com/fptgang/backend/service/impl/AccountServiceImpl.java
  backend/src/test/java/com/fptgang/backend/service/AccountServiceTest.java
Labels: Backend

#28 SBA-54 Develop ProjectCategoryService Test
  backend/src/main/java/com/fptgang/backend/service/impl/ProjectCategoryServiceImpl.java
  backend/src/test/java/com/fptgang/backend/service/ProjectCategoryServiceTest.java
Labels: Backend

#30 SBA-53 Develop Message Service Test
  backend/src/test/java/com/fptgang/backend/service/MessageServiceTest.java
Labels: Backend

#31 SBA-61 feat: update meta description, implement sorting utility, and …
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/common/button/profile-dropdown-button.tsx
  frontend/src/pages/users/edit.tsx
  frontend/src/pages/users/list.tsx
  frontend/src/pages/users/show.tsx
  frontend/src/providers/access-control-provider.tsx
  frontend/src/providers/data-provider.tsx
  frontend/src/utils/access-controls.ts
  frontend/src/utils/query-utils
  frontend/src/utils/query-utils.ts
Labels: Frontend

#33 SBA-59 Fix filter param parsing
  backend/src/main/java/com/fptgang/backend/exception/RestExceptionHandler.java
  backend/src/main/java/com/fptgang/backend/util/OpenApiHelper.java
  backend/src/test/java/com/fptgang/backend/integration/AccountIntegrationTest.java
  backend/src/test/java/com/fptgang/backend/util/OpenApiHelperTest.java
  openapi/param/pageable.yml
Labels: Backend

#34 SBA-58 Develop Response Interceptor
  backend/src/main/java/com/fptgang/backend/aspect/ResponseInterceptor.java
  backend/src/test/java/com/fptgang/backend/aspect/ResponseInterceptorTest.java
Labels: Backend

#38 Feature/vi_SBA-62
  backend/build.gradle
  backend/compose.yaml
  backend/src/main/java/com/fptgang/backend/config/RedisConfiguration.java
  backend/src/main/java/com/fptgang/backend/controller/AuthController.java
  backend/src/main/java/com/fptgang/backend/dtos/request/ForgotPasswordRequestDTO.java
  backend/src/main/java/com/fptgang/backend/dtos/request/LoginRequestDTO.java
  backend/src/main/java/com/fptgang/backend/dtos/request/RegisterRequestDTO.java
  backend/src/main/java/com/fptgang/backend/dtos/request/ResetPasswordRequestDTO.java
  backend/src/main/java/com/fptgang/backend/service/AuthService.java
  backend/src/main/java/com/fptgang/backend/service/PasswordResetTokenService.java
  backend/src/main/java/com/fptgang/backend/service/impl/AuthServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/EmailServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/PasswordResetTokenServiceImpl.java
  backend/src/main/resources/application.properties
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/authProvider.ts
  frontend/src/components/common/ui/undoable-notification.tsx
  frontend/src/components/header/index.tsx
  frontend/src/components/pages/auth/components/register.tsx
  frontend/src/data/service/auth-service.ts
  frontend/src/index.tsx
  frontend/src/pages/landing/components/hero.tsx
  frontend/src/pages/reset-password/index.tsx
  frontend/src/providers/notification-provider.tsx
Labels: Feature

#40 SBA-4 update test +remove redundant
  backend/src/main/java/com/fptgang/backend/mapper/MilestoneMapper.java~
  backend/src/main/java/com/fptgang/backend/mapper/ProjectMapper.java~
  backend/src/main/java/com/fptgang/backend/model/Milestone.java~
  backend/src/main/java/com/fptgang/backend/model/Project.java~
  backend/src/test/java/com/fptgang/backend/service/AccountServiceTest.java
  backend/src/test/java/com/fptgang/backend/service/MilestoneServiceTest.java
  openapi/.idea/workspace.xml
  openapi/model/milestone.yml~
Labels: Backend

#35 SBA-55 Develop TransactionServiceTest
  backend/src/main/java/com/fptgang/backend/service/impl/TransactionServiceImpl.java
  backend/src/test/java/com/fptgang/backend/service/TransactionServiceTest.java
Labels: Backend

#36 SBA-56 Develop RefreshTokenServiceTest
  backend/src/test/java/com/fptgang/backend/service/RefreshTokenServiceTest.java
Labels: Backend

#42 SBA-52 Develop Proposal Service Test
  backend/src/test/java/com/fptgang/backend/service/ProposalServiceTest.java
Labels: Backend

#41 SBA-51 Develop Milestone Service Test
  backend/src/test/java/com/fptgang/backend/service/MilestoneServiceTest.java
Labels: Backend

#43 SBA-65 Optimize test
  backend/.gitignore
  backend/compose.yaml
  backend/src/test/java/com/fptgang/backend/TestcontainersConfiguration.java
  backend/src/test/java/com/fptgang/backend/service/AccountServiceTest.java
  backend/src/test/java/com/fptgang/backend/service/AuthServiceTest.java
  backend/src/test/java/com/fptgang/backend/service/MessageServiceTest.java
  backend/src/test/java/com/fptgang/backend/service/MilestoneServiceTest.java
  backend/src/test/java/com/fptgang/backend/service/ProjectCategoryServiceTest.java
  backend/src/test/java/com/fptgang/backend/service/ProjectServiceTest.java
  backend/src/test/java/com/fptgang/backend/service/ProposalServiceTest.java
  backend/src/test/java/com/fptgang/backend/service/RefreshTokenServiceTest.java
  backend/src/test/java/com/fptgang/backend/service/TransactionServiceTest.java
Labels: enhancement, Backend

#44 SBA-66 Update OpenAPI spec
  backend/build.gradle
  backend/src/main/java/com/fptgang/backend/mapper/ProfileMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProfileSkillMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProjectMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProjectSkillMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/SkillMapper.java
  backend/src/main/java/com/fptgang/backend/model/Account.java
  backend/src/main/java/com/fptgang/backend/model/File.java
  backend/src/main/java/com/fptgang/backend/model/Message.java
  backend/src/main/java/com/fptgang/backend/model/Milestone.java
  backend/src/main/java/com/fptgang/backend/model/Profile.java
  backend/src/main/java/com/fptgang/backend/model/ProfileSkill.java
  backend/src/main/java/com/fptgang/backend/model/Project.java
  backend/src/main/java/com/fptgang/backend/model/ProjectCategory.java
  backend/src/main/java/com/fptgang/backend/model/ProjectSkill.java
  backend/src/main/java/com/fptgang/backend/model/Proposal.java
  backend/src/main/java/com/fptgang/backend/model/Skill.java
  backend/src/main/java/com/fptgang/backend/repository/SkillRepos.java
  backend/src/test/java/com/fptgang/backend/TestcontainersConfiguration.java
  openapi/main.yml
  openapi/model/profile-skill.yml
  openapi/model/profile.yml
  openapi/model/project-skill.yml
  openapi/model/project.yml
  openapi/model/proposal.yml
  openapi/model/skill.yml
Labels: Backend

#45 SBA-61 Add account role management and enhance user details display
  frontend/.vscode/settings.json
  frontend/src/App.tsx
  frontend/src/data/types/auth.ts
  frontend/src/pages/users/create.tsx
  frontend/src/pages/users/edit.tsx
  frontend/src/pages/users/list.tsx
  frontend/src/pages/users/show.tsx
  frontend/src/utils/constants.ts
  frontend/src/utils/formatter.ts
  frontend/tsconfig.json
Labels: Frontend

#46 SBA-67 Implement ProfileMapper and ProfileSkillMapper
  backend/src/main/java/com/fptgang/backend/mapper/ProfileMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProfileSkillMapper.java
  backend/src/main/java/com/fptgang/backend/repository/ProfileRepos.java
  backend/src/main/java/com/fptgang/backend/repository/ProfileSkillRepos.java
Labels: Backend

#47 Frontend/vi_SBA-61
  frontend/src/authProvider.ts
  frontend/src/data/service/auth-service.ts
  frontend/src/pages/users/create.tsx
  frontend/src/pages/users/edit.tsx
  frontend/src/pages/users/list.tsx
  frontend/src/pages/users/show.tsx
Labels: Frontend

#48 SBA-68 Implement ProjectSkillMapper
  backend/src/main/java/com/fptgang/backend/mapper/ProjectMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProjectSkillMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProposalMapper.java
  backend/src/main/java/com/fptgang/backend/repository/ProjectSkillRepos.java
Labels: Backend

#51 SBA-70 Improve auth flow
  backend/src/main/java/com/fptgang/backend/controller/AuthController.java
  backend/src/main/java/com/fptgang/backend/exception/JwtNotFoundException.java
  backend/src/main/java/com/fptgang/backend/exception/RestExceptionHandler.java
  backend/src/main/java/com/fptgang/backend/model/Account.java
  backend/src/main/java/com/fptgang/backend/model/RefreshToken.java
  backend/src/main/java/com/fptgang/backend/model/Role.java
  backend/src/main/java/com/fptgang/backend/repository/RefreshTokenRepos.java
  backend/src/main/java/com/fptgang/backend/security/AppUser.java
  backend/src/main/java/com/fptgang/backend/security/CustomUserDetailsService.java
  backend/src/main/java/com/fptgang/backend/security/JWTAuthenticationFilter.java
  backend/src/main/java/com/fptgang/backend/security/RestAuthEntryPoint.java
  backend/src/main/java/com/fptgang/backend/security/SecurityConfig.java
  backend/src/main/java/com/fptgang/backend/security/TokenService.java
  backend/src/main/java/com/fptgang/backend/service/AuthService.java
  backend/src/main/java/com/fptgang/backend/service/JwtService.java
  backend/src/main/java/com/fptgang/backend/service/RefreshTokenService.java
  backend/src/main/java/com/fptgang/backend/service/impl/AuthServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/JwtServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/RefreshTokenServiceImpl.java
  backend/src/main/java/com/fptgang/backend/util/Fingerprint.java
  backend/src/main/java/com/fptgang/backend/util/SecurityUtil.java
  backend/src/main/resources/application-test.properties
  backend/src/test/java/com/fptgang/backend/integration/AccountIntegrationTest.java
  backend/src/test/java/com/fptgang/backend/service/AuthServiceTest.java
  backend/src/test/java/com/fptgang/backend/service/RefreshTokenServiceTest.java
  openapi/model/refresh-token.yml
  openapi/path/auth/me.yml
Labels: Backend

#52 SBA-75 Minor security examples
  backend/src/main/java/com/fptgang/backend/aspect/ResponseInterceptor.java
  backend/src/main/java/com/fptgang/backend/controller/AccountController.java
  backend/src/main/java/com/fptgang/backend/controller/AuthController.java
  backend/src/main/java/com/fptgang/backend/model/Account.java
  backend/src/main/java/com/fptgang/backend/model/Profile.java
  backend/src/main/java/com/fptgang/backend/model/ProfileSkill.java
  backend/src/main/java/com/fptgang/backend/model/Project.java
  backend/src/main/java/com/fptgang/backend/model/ProjectSkill.java
  backend/src/main/java/com/fptgang/backend/model/RefreshToken.java
  backend/src/main/java/com/fptgang/backend/security/JWTAuthenticationFilter.java
  backend/src/main/java/com/fptgang/backend/security/SecurityConfig.java
  backend/src/main/java/com/fptgang/backend/util/SecurityUtil.java
  backend/src/test/java/com/fptgang/backend/integration/AccountIntegrationTest.java
Labels: Backend

#50 SBA-40 feat:add file service init .env file support
  .github/workflows/gradle.yml
  .gitignore
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/fptgang/backend/model/File.java
  backend/src/main/java/com/fptgang/backend/service/FileService.java
  backend/src/main/java/com/fptgang/backend/service/ImageService.java
  backend/src/main/java/com/fptgang/backend/service/impl/FileServiceImpl.java
  backend/src/main/java/com/fptgang/backend/util/FileUtils.java
  backend/src/main/java/com/fptgang/backend/util/ImageUtils.java
  backend/src/main/resources/application.properties
  backend/src/test/.azure/.gitignore
  backend/src/test/.azure/default/connections.xml
  backend/src/test/.azure/profiles.xml
  backend/src/test/java/com/fptgang/backend/TestcontainersConfiguration.java
  backend/src/test/java/com/fptgang/backend/service/FileServiceTest.java
Labels: Backend

#53 SBA-63 Account filter didn't work
  backend/build.gradle
  backend/src/main/java/com/fptgang/backend/model/Account.java
  backend/src/main/java/com/fptgang/backend/repository/AccountRepos.java
  backend/src/main/java/com/fptgang/backend/service/AccountService.java
  backend/src/main/java/com/fptgang/backend/service/impl/AccountServiceImpl.java
  backend/src/main/java/com/fptgang/backend/util/OpenApiHelper.java
  backend/src/test/java/com/fptgang/backend/service/AccountServiceTest.java
Labels: Backend

#54 SBA-73 Develop AuthIntegrationTest
  backend/src/test/java/com/fptgang/backend/integration/AuthIntegrationTest.java
Labels: Backend

#56 SBA-71 Add refresh token clean task
  backend/src/main/java/com/fptgang/backend/BackendApplication.java
  backend/src/main/java/com/fptgang/backend/repository/RefreshTokenRepos.java
  backend/src/main/java/com/fptgang/backend/service/RefreshTokenService.java
  backend/src/main/java/com/fptgang/backend/service/impl/RefreshTokenServiceImpl.java
Labels: Backend

#57 SBA-82 Develop TransactionController
  backend/src/main/java/com/fptgang/backend/controller/TransactionController.java
  openapi/main.yml
  openapi/path/file-fileId.yml
  openapi/path/file.yml
  openapi/path/message-messageId.yml
  openapi/path/message.yml
  openapi/path/milestone-milestoneId.yml
  openapi/path/milestone.yml
  openapi/path/proposal-proposalId.yml
  openapi/path/proposal.yml
  openapi/path/transaction-transactionId.yml
  openapi/path/transaction.yml
Labels: Backend

#58 SBA-81 Develop ProfileController, ProfileService,
  backend/src/main/java/com/fptgang/backend/controller/ProfileController.java
  backend/src/main/java/com/fptgang/backend/mapper/ProfileMapper.java
  backend/src/main/java/com/fptgang/backend/model/Profile.java
  backend/src/main/java/com/fptgang/backend/service/ProfileService.java
  backend/src/main/java/com/fptgang/backend/service/impl/ProfileServiceImpl.java
  openapi/main.yml
  openapi/path/profile-profileId.yml
  openapi/path/profile.yml
Labels: Backend

#60 SBA-79 Develop MilestoneController
  backend/src/main/java/com/fptgang/backend/controller/MilestoneController.java
Labels: Backend

#59 SBA-82 Fix TransactionController
  backend/src/main/java/com/fptgang/backend/controller/TransactionController.java
  openapi/path/transaction-transactionId.yml
Labels: Backend

#62 SBA-77 Develop ProposalController
  backend/src/main/java/com/fptgang/backend/controller/ProposalController.java
  backend/src/main/java/com/fptgang/backend/repository/ProposalRepos.java
  backend/src/main/java/com/fptgang/backend/service/ProposalService.java
  backend/src/main/java/com/fptgang/backend/service/impl/ProposalServiceImpl.java
Labels: Backend

#64 SBA-78 Update Skill repos,serviceimpl,controller
  backend/src/main/java/com/fptgang/backend/controller/SkillController.java
  backend/src/main/java/com/fptgang/backend/repository/SkillRepos.java
  backend/src/main/java/com/fptgang/backend/service/SkillService.java
  backend/src/main/java/com/fptgang/backend/service/impl/SkillServiceImpl.java
Labels: Backend

#63 SBA-88 Improve filter-to-spec
  backend/src/main/java/com/fptgang/backend/service/impl/AccountServiceImpl.java
  backend/src/main/java/com/fptgang/backend/util/OpenApiHelper.java
  backend/src/test/java/com/fptgang/backend/integration/OpenApiHelperIntegrationTest.java
  backend/src/test/java/com/fptgang/backend/util/OpenApiHelperTest.java
Labels: Backend

#65 SBA-89 Support multi-filters
  backend/src/main/java/com/fptgang/backend/util/OpenApiHelper.java
  backend/src/test/java/com/fptgang/backend/util/OpenApiHelperTest.java
  frontend/src/utils/query-utils.ts
Labels: Backend

#66 SBA-80 Develop Message WebSocket
  backend/build.gradle
  backend/src/main/java/com/fptgang/backend/config/WebsocketConfig.java
  backend/src/main/java/com/fptgang/backend/controller/MessageController.java
  backend/src/main/java/com/fptgang/backend/mapper/ProfileMapper.java
  backend/src/main/java/com/fptgang/backend/repository/MessageRepos.java
  backend/src/main/java/com/fptgang/backend/service/MessageService.java
  backend/src/main/java/com/fptgang/backend/service/impl/MessageServiceImpl.java
  backend/src/test/java/com/fptgang/backend/service/MessageServiceTest.java
  backend/src/test/java/com/fptgang/backend/service/MilestoneServiceTest.java
  backend/src/test/java/com/fptgang/backend/service/ProposalServiceTest.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/providers/data-provider.tsx
  openapi/model/profile.yml
  openapi/path/message.yml
Labels: Backend

#68 SBA-90 Support nested filters
  backend/src/main/java/com/fptgang/backend/util/OpenApiHelper.java
  backend/src/test/java/com/fptgang/backend/util/OpenApiHelperTest.java
  frontend/src/utils/query-utils.ts
Labels: Backend

#69 SBA-93 Add escrow account setup
  backend/src/main/java/com/fptgang/backend/service/AccountService.java
  backend/src/main/java/com/fptgang/backend/service/impl/AccountServiceImpl.java
  backend/src/main/resources/application.properties
Labels: Backend

#70 SBA-94 Add search param
  backend/src/main/java/com/fptgang/backend/controller/AccountController.java
  backend/src/main/java/com/fptgang/backend/controller/MessageController.java
  backend/src/main/java/com/fptgang/backend/controller/MilestoneController.java
  backend/src/main/java/com/fptgang/backend/controller/ProfileController.java
  backend/src/main/java/com/fptgang/backend/controller/ProjectCategoryController.java
  backend/src/main/java/com/fptgang/backend/controller/ProjectController.java
  backend/src/main/java/com/fptgang/backend/controller/ProposalController.java
  backend/src/main/java/com/fptgang/backend/controller/SkillController.java
  backend/src/main/java/com/fptgang/backend/controller/TransactionController.java
  backend/src/main/java/com/fptgang/backend/model/Account.java
  backend/src/main/java/com/fptgang/backend/model/File.java
  backend/src/main/java/com/fptgang/backend/model/Message.java
  backend/src/main/java/com/fptgang/backend/model/Milestone.java
  backend/src/main/java/com/fptgang/backend/model/Profile.java
  backend/src/main/java/com/fptgang/backend/model/Project.java
  backend/src/main/java/com/fptgang/backend/model/ProjectCategory.java
  backend/src/main/java/com/fptgang/backend/model/Proposal.java
  backend/src/main/java/com/fptgang/backend/model/Skill.java
  backend/src/main/java/com/fptgang/backend/repository/MessageRepos.java
  backend/src/main/java/com/fptgang/backend/repository/ProjectCategoryRepos.java
  backend/src/main/java/com/fptgang/backend/repository/ProposalRepos.java
  backend/src/main/java/com/fptgang/backend/repository/SkillRepos.java
  backend/src/main/java/com/fptgang/backend/service/AccountService.java
  backend/src/main/java/com/fptgang/backend/service/MessageService.java
  backend/src/main/java/com/fptgang/backend/service/MilestoneService.java
  backend/src/main/java/com/fptgang/backend/service/ProfileService.java
  backend/src/main/java/com/fptgang/backend/service/ProjectCategoryService.java
  backend/src/main/java/com/fptgang/backend/service/ProjectService.java
  backend/src/main/java/com/fptgang/backend/service/ProposalService.java
  backend/src/main/java/com/fptgang/backend/service/SkillService.java
  backend/src/main/java/com/fptgang/backend/service/TransactionService.java
  backend/src/main/java/com/fptgang/backend/service/impl/AccountServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/MessageServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/MilestoneServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/ProfileServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/ProjectCategoryServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/ProjectServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/ProposalServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/SkillServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/TransactionServiceImpl.java
  backend/src/main/java/com/fptgang/backend/util/OpenApiHelper.java
  backend/src/main/java/com/fptgang/backend/util/Searchable.java
  backend/src/test/java/com/fptgang/backend/integration/OpenApiHelperIntegrationTest.java
  backend/src/test/java/com/fptgang/backend/service/ProjectCategoryServiceTest.java
  backend/src/test/java/com/fptgang/backend/util/OpenApiHelperTest.java
  openapi/component/pageable.yml
  openapi/main.yml
  openapi/param/pageable.yml
  openapi/param/search.yml
  openapi/path/account.yml
  openapi/path/file.yml
  openapi/path/message.yml
  openapi/path/milestone.yml
  openapi/path/profile.yml
  openapi/path/project.yml
  openapi/path/projectCategory.yml
  openapi/path/proposal.yml
  openapi/path/skill.yml
  openapi/path/transaction.yml
Labels: Backend

#72 SBA-96 Add login error on account having no password
  backend/src/main/java/com/fptgang/backend/controller/AuthController.java
  backend/src/main/java/com/fptgang/backend/exception/JwtNotFoundException.java
  backend/src/main/java/com/fptgang/backend/exception/RestExceptionHandler.java
  backend/src/main/java/com/fptgang/backend/service/impl/AuthServiceImpl.java
  backend/src/main/java/com/fptgang/backend/util/SecurityUtil.java
Labels: Backend

#73 SB-92 add proper role based routing and base layout
  frontend/src/App.tsx
  frontend/src/authProvider.ts
  frontend/src/components/common/button/profile-dropdown-button.tsx
  frontend/src/components/common/footer/footer.tsx
  frontend/src/components/header/client-index.tsx
  frontend/src/components/header/index.tsx
  frontend/src/components/layout/admin-layout.tsx
  frontend/src/components/layout/client-layout.tsx
  frontend/src/components/layout/freelancer-layout.tsx
  frontend/src/components/layout/index.tsx
  frontend/src/components/layout/public-layout.tsx
  frontend/src/components/layout/settings-layout.tsx
  frontend/src/components/navigation/nav-downdrop.tsx
  frontend/src/components/navigation/navbar.tsx
  frontend/src/contexts/color-mode/index.tsx
  frontend/src/pages/about/About.tsx
  frontend/src/pages/about/index.tsx
  frontend/src/pages/admin/accounts/create.tsx
  frontend/src/pages/client/dashboard/index.tsx
  frontend/src/pages/client/mesages/client-list.tsx
  frontend/src/pages/client/mesages/client-show.tsx
  frontend/src/pages/client/mesages/index.ts
  frontend/src/pages/client/projects/client-edit.tsx
  frontend/src/pages/client/projects/client-list.tsx
  frontend/src/pages/client/projects/client-show.tsx
  frontend/src/pages/client/projects/index.ts
  frontend/src/pages/client/proposal/client-list.tsx
  frontend/src/pages/client/proposal/client-show.tsx
  frontend/src/pages/client/proposal/index.ts
  frontend/src/pages/client/setting/components/client-profile-setting.tsx
  frontend/src/pages/client/setting/components/client-security-setting.tsx
  frontend/src/pages/client/setting/index.tsx
  frontend/src/pages/client/transactions/client-list.tsx
  frontend/src/pages/client/transactions/index.ts
  frontend/src/pages/find-work/index.tsx
  frontend/src/pages/freelancer/active-projects/active-project.tsx
  frontend/src/pages/freelancer/active-projects/index.ts
  frontend/src/pages/freelancer/dashboard/dashboard.tsx
  frontend/src/pages/freelancer/dashboard/index.ts
  frontend/src/pages/freelancer/find-projects/find-project.tsx
  frontend/src/pages/freelancer/find-projects/index.ts
  frontend/src/pages/freelancer/messages/index.ts
  frontend/src/pages/freelancer/messages/message.tsx
  frontend/src/pages/freelancer/my-proposal/index.ts
  frontend/src/pages/freelancer/my-proposal/my-proposal.tsx
  frontend/src/pages/freelancer/setting/index.ts
  frontend/src/pages/freelancer/setting/setting.tsx
  frontend/src/pages/landing/nav-bar.tsx
  frontend/src/pages/pricing/index.tsx
  frontend/src/pages/profile/index.ts
  frontend/src/pages/profile/profile.tsx
  frontend/src/pages/transactions/create.tsx
  frontend/src/utils/file-utils.tsx
  openapi/.idea/workspace.xml
Labels: Feature
