Repository fptgang/SBA301_Freelancer, pull requests merged in 2025-02, with the labels that each got.

#76 SBA-103 define route struct and component
  backend/src/main/java/com/fptgang/backend/controller/AuthController.java
  frontend/src/App.tsx
  frontend/src/components/header/client-index.tsx
  frontend/src/pages/about/index.tsx
  frontend/src/pages/find-work/index.tsx
  frontend/src/pages/freelancer/find-projects/find-project.tsx
  frontend/src/pages/freelancer/find-projects/index.ts
  frontend/src/pages/freelancer/profile/index.tsx
  frontend/src/pages/freelancer/proposal/index.ts
  frontend/src/pages/freelancer/proposal/my-proposal.tsx
  frontend/src/pages/freelancer/proposal/show.tsx
  frontend/src/pages/public/landing/components/hero.tsx
  frontend/src/pages/public/landing/components/trusted-by.tsx
  frontend/src/pages/public/landing/landing-page.tsx
  frontend/src/pages/public/landing/nav-bar.tsx
  frontend/src/pages/public/pricing/index.tsx
  frontend/src/pages/public/search/index.tsx
  frontend/src/pages/shared/chat/index.tsx
  frontend/src/pages/shared/projects/show.tsx
  frontend/src/pages/shared/setting/index.tsx
Labels: Frontend

#77 SBA-104 real-time update for resource management
  backend/src/main/java/com/fptgang/backend/config/WebsocketConfig.java
  backend/src/main/java/com/fptgang/backend/controller/AccountController.java
  backend/src/main/java/com/fptgang/backend/controller/ProjectCategoryController.java
  backend/src/main/java/com/fptgang/backend/service/impl/AccountServiceImpl.java
  backend/src/main/java/com/fptgang/backend/util/SecurityUtil.java
  frontend/src/App.tsx
  frontend/src/pages/admin/accounts/edit.tsx
  frontend/src/pages/admin/accounts/list.tsx
  frontend/src/pages/admin/projectcategories/list.tsx
  frontend/src/pages/admin/projects/list.tsx
  frontend/src/pages/messages/list.tsx
  frontend/src/providers/live-provider.tsx
  frontend/src/utils/stompClient.ts
Labels: Feature

#78 SBA-97 Add account ID to JWT
  backend/compose.yaml
  backend/src/main/java/com/fptgang/backend/controller/AccountController.java
  backend/src/main/java/com/fptgang/backend/security/AppUser.java
  backend/src/main/java/com/fptgang/backend/security/CustomUserDetailsService.java
  backend/src/main/java/com/fptgang/backend/service/JwtService.java
  backend/src/main/java/com/fptgang/backend/service/impl/AuthServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/JwtServiceImpl.java
  backend/src/main/java/com/fptgang/backend/util/SecurityUtil.java
  backend/src/main/resources/application.properties
Labels: Backend

#79 SBA-107 [FE-CLIENT] Setting
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/layout/client-layout.tsx
  frontend/src/components/layout/settings-layout.tsx
  frontend/src/components/navigation/navbar.tsx
  frontend/src/contexts/color-mode/index.tsx
  frontend/src/pages/shared/setting/account.tsx
  frontend/src/pages/shared/setting/index.tsx
  frontend/src/pages/shared/setting/local.tsx
  frontend/src/pages/shared/setting/security.tsx
Labels: Frontend

#80 SWD-43 [Backend]DB refactor
  backend/src/main/java/com/fptgang/backend/controller/MessageController.java
  backend/src/main/java/com/fptgang/backend/mapper/MessageMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProfileSkillMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProjectSkillMapper.java
  backend/src/main/java/com/fptgang/backend/model/File.java
  backend/src/main/java/com/fptgang/backend/model/Message.java
  backend/src/main/java/com/fptgang/backend/model/Milestone.java
  backend/src/main/java/com/fptgang/backend/model/Project.java
  backend/src/test/java/com/fptgang/backend/service/MessageServiceTest.java
  openapi/main.yml
  openapi/model/message.yml
  openapi/model/proficiency.yml
  openapi/model/profile-skill.yml
  openapi/model/project-skill.yml
  openapi/model/project.yml
Labels: Backend

#81 SBA-115 [FE-CLIENT] Search
  backend/src/main/java/com/fptgang/backend/mapper/ProfileMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProjectMapper.java
  backend/src/main/java/com/fptgang/backend/model/Account.java
  frontend/src/App.tsx
  frontend/src/pages/admin/accounts/list.tsx
  frontend/src/pages/admin/projectcategories/list.tsx
  frontend/src/pages/admin/projects/list.tsx
  frontend/src/pages/public/search/index.tsx
  frontend/src/pages/public/search/profileCard.tsx
  frontend/src/pages/public/search/profileDrawer.tsx
  frontend/src/pages/public/search/projectCard.tsx
  frontend/src/pages/public/search/projectDrawer.tsx
  frontend/src/pages/public/search/renderSkillTags.tsx
  frontend/src/providers/live-provider.tsx
  frontend/src/utils/stompClient.ts
  openapi/main.yml
  openapi/model/account-response.yml
  openapi/model/profile.yml
  openapi/model/project.yml
Labels: Feature

#82 Frontend/vi sba 103
  frontend/src/App.tsx
  frontend/src/components/header/client-index.tsx
  frontend/src/components/layout/public-layout.tsx
  frontend/src/components/navigation/navbar.tsx
  frontend/src/pages/public/landing/landing-page.tsx
  frontend/src/pages/shared/setting/index.tsx
Labels: Frontend

#83 add search type
  frontend/src/pages/public/search/index.tsx
Labels: Feature

#84 SBA-106 [FE-CLIENT]Wallet
  frontend/src/App.tsx
  frontend/src/pages/shared/wallet/components/history.tsx
  frontend/src/pages/shared/wallet/deposit.tsx
  frontend/src/pages/shared/wallet/index.tsx
  frontend/src/pages/shared/wallet/withdraw.tsx
Labels: Frontend

#85 [FE-CLIENT] Onboarding(signup/register)
  frontend/package-lock.json
  frontend/src/components/pages/auth/components/register.tsx
Labels: Frontend

#87 SBA-120 Fix GenDB
  gendb/package-lock.json
  gendb/package.json
  gendb/src/engine/appender.ts
  gendb/src/view/ConfigForm.tsx
Labels: Backend

#89 FE-CLIENT] AboutUs
  frontend/src/pages/public/aboutUs.tsx
Labels: Frontend

#91 SBA-106 Fix missing wallet layout
  frontend/src/components/layout/wallet-layout.tsx
Labels: Frontend

#88 [FE-CLIENT]freelancer view profile
  frontend/src/components/profile/profile.tsx
Labels: Frontend

#92 SBA-110 view project detail+fix mapper
  backend/src/main/java/com/fptgang/backend/mapper/AccountMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/FileMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/MessageMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/MilestoneMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProfileMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProfileSkillMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProjectCategoryMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProjectMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProjectSkillMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProposalMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/SkillMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/TransactionMapper.java
  backend/src/main/java/com/fptgang/backend/model/Milestone.java
  frontend/src/App.tsx
  frontend/src/components/navigation/navbar.tsx
  frontend/src/components/pages/search/profileCard.tsx
  frontend/src/components/pages/search/profileDrawer.tsx
  frontend/src/components/pages/search/projectCard.tsx
  frontend/src/components/pages/search/projectDrawer.tsx
  frontend/src/components/pages/search/renderFilter.tsx
  frontend/src/components/pages/search/renderSkillTags.tsx
  frontend/src/components/project-details/ActionCard.tsx
  frontend/src/components/project-details/ClientInformation.tsx
  frontend/src/components/project-details/ProjectActivity.tsx
  frontend/src/components/project-details/ProjectDescription.tsx
  frontend/src/components/project-details/ProjectHeader.tsx
  frontend/src/components/project-details/ProjectMilestones.tsx
  frontend/src/pages/client/projects/client-show.tsx
  frontend/src/pages/public/project/index.tsx
  frontend/src/pages/public/search/index.tsx
  openapi/.idea/workspace.xml
  openapi/model/milestone.yml
  openapi/model/project.yml
Labels: Feature

#93 SBA-120 Support gen files, milestone desc and more settings
  gendb/src/engine/config.ts
  gendb/src/engine/model/Account.ts
  gendb/src/engine/model/File.ts
  gendb/src/engine/model/Milestone.ts
  gendb/src/engine/sim/file.ts
  gendb/src/engine/sim/index.ts
  gendb/src/engine/sim/project.ts
  gendb/src/engine/sim/proposal.ts
  gendb/src/view/ConfigForm.tsx
  gendb/src/view/Home.tsx
Labels: Backend

#94 [FE-CLIENT]view all proposal screen + associated project
  frontend/src/pages/public/jobDrawer.tsx
Labels: Frontend

#95 SBA-105 Chat feature
  backend/src/main/java/com/fptgang/backend/controller/MessageController.java
  backend/src/main/java/com/fptgang/backend/mapper/MessageMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProjectMapper.java
  backend/src/main/java/com/fptgang/backend/model/Contract.java
  backend/src/main/java/com/fptgang/backend/service/impl/MessageServiceImpl.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/notification.mp3
  frontend/src/components/layout/message-layout.tsx
  frontend/src/components/message/ChatArea.tsx
  frontend/src/components/message/MessageIcon.tsx
  frontend/src/components/message/MessageItem.tsx
  frontend/src/components/message/ProjectDetailsSideBar.tsx
  frontend/src/components/message/ProjectMessageLabel.tsx
  frontend/src/components/message/ProjectSidebar.tsx
  frontend/src/index.tsx
  frontend/src/pages/public/message/index.tsx
  frontend/src/providers/live-provider.tsx
  openapi/.idea/workspace.xml
  openapi/model/message.yml
  openapi/model/project.yml
Labels: Feature

#96 upgrade
  backend/src/main/java/com/fptgang/backend/controller/MessageController.java
  backend/src/main/java/com/fptgang/backend/controller/ProjectController.java
  backend/src/main/java/com/fptgang/backend/service/ProjectService.java
  backend/src/main/java/com/fptgang/backend/service/impl/ProjectServiceImpl.java
  frontend/src/components/message/ChatArea.tsx
  frontend/src/components/message/MessageItem.tsx
  frontend/src/components/message/ProjectDetailsSideBar.tsx
  frontend/src/components/message/ProjectSidebar.tsx
  frontend/src/pages/public/message/index.tsx
  frontend/src/providers/data-provider.tsx
  frontend/src/utils/query-utils.ts
  openapi/path/project.yml
Labels: Feature

#97 Frontend/fix api issue
  backend/src/main/java/com/fptgang/backend/controller/EntityFileController.java
  backend/src/main/java/com/fptgang/backend/controller/FileController.java
  backend/src/main/java/com/fptgang/backend/mapper/ProjectMapper.java
  backend/src/main/java/com/fptgang/backend/repository/FileRepos.java
  backend/src/main/java/com/fptgang/backend/service/EntityFileService.java
  backend/src/main/java/com/fptgang/backend/service/impl/AzureBlobServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/EntityFileServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/ProjectServiceImpl.java
  frontend/.cursor/rules/my-project.mdc
  frontend/src/App.tsx
  frontend/src/components/common/button/profile-dropdown-button.tsx
  frontend/src/components/navigation/navbar.tsx
  frontend/src/components/pages/auth/components/index.tsx
  frontend/src/components/pages/auth/components/register.tsx
  frontend/src/components/pages/auth/components/register/components/AccountSetup.tsx
  frontend/src/components/pages/auth/components/register/components/Confirmation.tsx
  frontend/src/components/pages/auth/components/register/components/PersonalInfo.tsx
  frontend/src/components/pages/auth/components/register/components/RoleSelection.tsx
  frontend/src/components/pages/auth/components/register/components/SocialLogin.tsx
  frontend/src/components/pages/auth/components/register/components/StepProgress.tsx
  frontend/src/components/pages/auth/components/register/index.tsx
  frontend/src/components/pages/search/projectDrawer.tsx
  frontend/src/components/project-details/ActionCard.tsx
  frontend/src/config/axios-config.ts
  frontend/src/pages/auth/login/index.tsx
  frontend/src/pages/client/dashboard/index.tsx
  frontend/src/pages/client/projects/client-create.tsx
  frontend/src/pages/client/projects/client-list.tsx
  frontend/src/pages/client/projects/client-show.tsx
  frontend/src/pages/client/proposal/client-create.tsx
  frontend/src/pages/freelancer/proposal/freelancer-create.tsx
  frontend/src/pages/public/landing/components/hero.tsx
  frontend/src/pages/public/project/index.tsx
  openapi/.idea/discord.xml
  openapi/.idea/swagger-settings.xml
  openapi/.idea/workspace.xml
  openapi/main.yml
  openapi/model/file-blob.yml
  openapi/model/file.yml
  openapi/path/entityFile-batch.yml
  openapi/path/entityFile-entityType-entityId.yml
Labels: Frontend
