Repository fptgang/SBA301_Freelancer, pull requests merged in 2025-03, with the labels that each got.

#100 Update db
  backend/src/main/java/com/fptgang/backend/controller/ContractController.java
  backend/src/main/java/com/fptgang/backend/controller/MessageController.java
  backend/src/main/java/com/fptgang/backend/controller/ProposalController.java
  backend/src/main/java/com/fptgang/backend/mapper/AccountMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ContractMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/FileMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/MessageMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/MilestoneMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProfileMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProjectCategoryMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProjectMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProposalMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/SkillMapper.java
  backend/src/main/java/com/fptgang/backend/model/Account.java
  backend/src/main/java/com/fptgang/backend/model/Contract.java
  backend/src/main/java/com/fptgang/backend/model/File.java
  backend/src/main/java/com/fptgang/backend/model/Message.java
  backend/src/main/java/com/fptgang/backend/model/Milestone.java
  backend/src/main/java/com/fptgang/backend/model/Profile.java
  backend/src/main/java/com/fptgang/backend/model/Project.java
  backend/src/main/java/com/fptgang/backend/model/ProjectCategory.java
  backend/src/main/java/com/fptgang/backend/model/Proposal.java
  backend/src/main/java/com/fptgang/backend/model/RefreshToken.java
  backend/src/main/java/com/fptgang/backend/model/Skill.java
  backend/src/main/java/com/fptgang/backend/model/Transaction.java
  backend/src/main/java/com/fptgang/backend/service/ContractService.java
  backend/src/main/java/com/fptgang/backend/service/ProposalService.java
  backend/src/main/java/com/fptgang/backend/service/impl/AccountServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/ContractServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/EntityFileServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/FileServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/MessageServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/MilestoneServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/ProfileServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/ProjectCategoryServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/ProjectServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/ProposalServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/SkillServiceImpl.java
  backend/src/test/java/com/fptgang/backend/integration/AccountIntegrationTest.java
  backend/src/test/java/com/fptgang/backend/integration/OpenApiHelperIntegrationTest.java
  backend/src/test/java/com/fptgang/backend/service/AccountServiceTest.java
  backend/src/test/java/com/fptgang/backend/service/FileServiceTest.java
  backend/src/test/java/com/fptgang/backend/service/MessageServiceTest.java
  backend/src/test/java/com/fptgang/backend/service/MilestoneServiceTest.java
  backend/src/test/java/com/fptgang/backend/service/ProjectCategoryServiceTest.java
  backend/src/test/java/com/fptgang/backend/service/ProposalServiceTest.java
  backend/src/test/java/com/fptgang/backend/service/RefreshTokenServiceTest.java
  backend/src/test/java/com/fptgang/backend/service/TransactionServiceTest.java
  openapi/model/project.yml
  openapi/path/contract-contractId.yml
  openapi/path/proposal-proposalId.yml
Labels: Feature

#103 Add milestone fund methods
  backend/src/main/java/com/fptgang/backend/model/Milestone.java
  backend/src/main/java/com/fptgang/backend/model/Project.java
  backend/src/main/java/com/fptgang/backend/model/Transaction.java
  backend/src/main/java/com/fptgang/backend/repository/TransactionRepos.java
  backend/src/main/java/com/fptgang/backend/service/AccountService.java
  backend/src/main/java/com/fptgang/backend/service/MilestoneService.java
  backend/src/main/java/com/fptgang/backend/service/TransactionService.java
  backend/src/main/java/com/fptgang/backend/service/impl/AccountServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/MilestoneServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/TransactionServiceImpl.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/fptgang/backend/service/TransactionServiceTest.java
  gendb/src/engine/model/FundStatus.ts
  gendb/src/engine/model/Milestone.ts
  gendb/src/engine/sim/milestone.ts
  gendb/src/engine/sim/project.ts
  gendb/src/engine/sim/proposal.ts
  openapi/model/milestone.yml
Labels: Feature

#106 fix client proposal on FE +proposal on BE+ topup
  backend/src/main/java/com/fptgang/backend/config/WebConfig.java
  backend/src/main/java/com/fptgang/backend/controller/ContractController.java
  backend/src/main/java/com/fptgang/backend/controller/FileController.java
  backend/src/main/java/com/fptgang/backend/controller/ProjectController.java
  backend/src/main/java/com/fptgang/backend/controller/ProposalController.java
  backend/src/main/java/com/fptgang/backend/controller/TransactionController.java
  backend/src/main/java/com/fptgang/backend/mapper/AccountMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ContractMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProjectMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ProposalMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ReportMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/TransactionMapper.java
  backend/src/main/java/com/fptgang/backend/repository/ContractRepos.java
  backend/src/main/java/com/fptgang/backend/repository/ProposalRepos.java
  backend/src/main/java/com/fptgang/backend/service/ProjectService.java
  backend/src/main/java/com/fptgang/backend/service/ProposalService.java
  backend/src/main/java/com/fptgang/backend/service/impl/ContractServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/ProjectServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/ProposalServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/TransactionServiceImpl.java
  frontend/src/App.tsx
  frontend/src/components/DepositModal.tsx
  frontend/src/components/pages/search/profileDrawer.tsx
  frontend/src/components/pages/search/projectDrawer.tsx
  frontend/src/components/pages/search/renderFilter.tsx
  frontend/src/components/project-details/ActionCard.tsx
  frontend/src/components/project-details/ClientInformation.tsx
  frontend/src/pages/admin/projectcategories/list.tsx
  frontend/src/pages/admin/projects/create.tsx
  frontend/src/pages/admin/projects/edit.tsx
  frontend/src/pages/admin/projects/list.tsx
  frontend/src/pages/admin/projects/show.tsx
  frontend/src/pages/client/projects/client-create.tsx
  frontend/src/pages/client/projects/client-list.tsx
  frontend/src/pages/client/projects/client-show.tsx
  frontend/src/pages/client/projects/contract-create.tsx
  frontend/src/pages/public/project/index.tsx
  frontend/src/pages/public/search/index.tsx
  frontend/src/pages/shared/wallet/components/history.tsx
  frontend/src/providers/data-provider.tsx
  openapi/main.yml
  openapi/model/account.yml
  openapi/model/file-blob.yml
  openapi/model/project.yml
  openapi/model/proposal.yml
  openapi/model/report.yml
  openapi/model/request/proposal-create.yml
  openapi/path/contracts/index.yml
  openapi/path/proposals/index.yml
  openapi/path/transactions/deposit.yml
Labels: Feature

#107 add sign contract service impl
  backend/src/main/java/com/fptgang/backend/service/impl/ContractServiceImpl.java
Labels: Feature

#108 Project Flow
  backend/src/main/java/com/fptgang/backend/controller/ProjectController.java
  backend/src/main/java/com/fptgang/backend/model/Milestone.java
  backend/src/main/java/com/fptgang/backend/repository/MilestoneRepos.java
  backend/src/main/java/com/fptgang/backend/repository/ProjectRepos.java
  backend/src/main/java/com/fptgang/backend/repository/ProposalRepos.java
  backend/src/main/java/com/fptgang/backend/security/SecurityConfig.java
  backend/src/main/java/com/fptgang/backend/service/ProjectService.java
  backend/src/main/java/com/fptgang/backend/service/impl/ProjectServiceImpl.java
Labels: Backend

#109 Base email and stats
  backend/build.gradle
  backend/src/main/java/com/fptgang/backend/controller/StatController.java
  backend/src/main/java/com/fptgang/backend/mapper/ProjectMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/stats/StringBigDecimalDatapointMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/stats/StringIntegerDatapointMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/template/ResetPasswordEmailTemplateMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/template/TemplateMapper.java
  backend/src/main/java/com/fptgang/backend/model/Message.java
  backend/src/main/java/com/fptgang/backend/model/Milestone.java
  backend/src/main/java/com/fptgang/backend/model/Project.java
  backend/src/main/java/com/fptgang/backend/model/stats/StringBigDecimalDatapoint.java
  backend/src/main/java/com/fptgang/backend/model/stats/StringIntegerDatapoint.java
  backend/src/main/java/com/fptgang/backend/repository/MessageRepos.java
  backend/src/main/java/com/fptgang/backend/repository/StatsRepos.java
  backend/src/main/java/com/fptgang/backend/repository/StatsReposImpl.java
  backend/src/main/java/com/fptgang/backend/service/EmailService.java
  backend/src/main/java/com/fptgang/backend/service/StatService.java
  backend/src/main/java/com/fptgang/backend/service/impl/EmailServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/MessageServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/ProjectServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/StatServiceImpl.java
  backend/src/main/java/com/fptgang/backend/util/CurrencyUtil.java
  backend/src/main/java/com/fptgang/backend/util/DateTimeUtil.java
  backend/src/main/java/com/fptgang/backend/util/TemplateUtil.java
  backend/src/main/resources/application.properties
  frontend/src/authProvider.ts
  frontend/src/config/axios-config.ts
  frontend/src/config/openapi-config.tsx
  openapi/main.yml
  openapi/model/stats/string-bigdecimal-datapoint.yml
  openapi/model/stats/string-integer-datapoint.yml
  openapi/path/stats/monthly-new-customer.yml
Labels: Feature

#110 fix bug
  backend/src/main/java/com/fptgang/backend/mapper/BaseMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/MessageMapper.java
  backend/src/main/java/com/fptgang/backend/security/SecurityConfig.java
  backend/src/main/java/com/fptgang/backend/service/impl/ContractServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/MessageServiceImpl.java
  frontend/src/pages/admin/projects/show.tsx
Labels: Backend, Fix

#111 Add more bugs
  backend/src/main/java/com/fptgang/backend/mapper/ProjectMapper.java
  backend/src/main/java/com/fptgang/backend/model/Message.java
  backend/src/main/java/com/fptgang/backend/model/Project.java
  backend/src/main/java/com/fptgang/backend/repository/MessageRepos.java
  backend/src/main/java/com/fptgang/backend/repository/ProposalRepos.java
  backend/src/main/java/com/fptgang/backend/service/MessageService.java
  backend/src/main/java/com/fptgang/backend/service/ProposalService.java
  backend/src/main/java/com/fptgang/backend/service/impl/MessageServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/ProposalServiceImpl.java
  backend/src/main/resources/template/ResetPasswordEmailTemplate.html
Labels: Feature

#114 Import mail
  backend/src/main/java/com/fptgang/backend/mapper/template/ContractCreatedEmailTemplateMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/template/ContractSignedEmailTemplateMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/template/MilestoneCompletedEmailTemplateMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/template/MilestoneFundEmailTemplateMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/template/MilestoneStartedEmailTemplateMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/template/ProjectEmailTemplateMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/template/ProposalRejectedEmailTemplateMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/template/ReportEmailTemplateMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/template/TransactionDepositEmailTemplateMapper.java
  backend/src/main/java/com/fptgang/backend/service/EmailService.java
  backend/src/main/java/com/fptgang/backend/service/impl/EmailServiceImpl.java
  backend/src/main/resources/template/ContractCreatedEmailTemplate.html
  backend/src/main/resources/template/ContractSignedEmailTemplate.html
  backend/src/main/resources/template/MilestoneCompletedEmailTemplate.html
  backend/src/main/resources/template/MilestoneFundEmailTemplate.html
  backend/src/main/resources/template/MilestoneStartedEmailTemplate.html
  backend/src/main/resources/template/ProjectEmailTemplate.html
  backend/src/main/resources/template/ProposalRejectEmailTemplate.html
  backend/src/main/resources/template/ReportEmailTemplate.html
  backend/src/main/resources/template/TransactionDepositEmailTemplate.html
Labels: Backend
